body {
    background-color: blue;
}

.grid-container {
    display: grid;
    width: 500px;
}

.grid-item {
    width: 120px;
    height: 30px;
    border: 10px solid blue;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item1 {
    grid-row: 1;
    grid-column: 1 / span 2;
    width: 260px;
}

.grid-item2 {
    grid-row: 1;
}

.grid-item3 {
    grid-row: 1;
}

.grid-item4 {
    grid-row: 2;
}

.grid-item5 {
    grid-row: 2;
    grid-column: 2 / span 2;
    width: 260px;
}

.grid-item6 {
    grid-row: 2;
}

.grid-item7 {
    grid-row: 3;
}

.grid-item8 {
    grid-row: 3;
}

.grid-item9 {
    grid-row: 3;
    grid-column: 3 / span 2;
    width: 260px;
}