/* 
|---------------|
|               |
|1800           |
|               |
|-----2400------|
*/

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #24282f;
}

h1 {
    color: #dcdcdc;
}

p {
    color: #dcdcdc;
}

nav {}

@media (max-width: 600px) {
    .flex-container {
        width: 100%;
        text-align: center;
    }
    .flex-item {
        margin: 0 auto;
        border-top: 5px solid red;
        width: 100%;
        margin-bottom: 10px;
    }
    .image {
        width: 100%;
    }
    .price {
        margin-top: 0;
        margin-bottom: 4px;
        color: red;
        font-size: xx-large;
    }
    .image-text {
        font-size: x-large;
    }
    .image-text-container {
        padding: 10px;
    }
}

@media (min-width: 600px) {
    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }
    .flex-item {
        border: 5px solid red;
        width: 250px;
        margin: 5px;
    }
    .image {
        width: 250px;
    }
    .price {
        margin-top: 0;
        margin-bottom: 4px;
        color: red;
        font-size: x-large;
    }
    .image-text {}
    .image-text-container {
        padding: 10px;
    }
}

.item-link {
    text-decoration: none;
}