/* 
|---------------|
|               |
|1800           |
|               |
|-----2400------|
*/

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #24282f;
    margin: 0;
}

main {
    margin: 18px;
}

h1 {
    color: #dcdcdc;
}

p {
    color: #dcdcdc;
}

@media (max-width: 700px) {
    .flex-container {
        width: 100%;
        text-align: center;
    }
    .flex-item {
        margin: 0 auto;
        border-top: 5px solid red;
        width: 100%;
        margin-bottom: 10px;
    }
    .image {
        width: 100%;
    }
    .price {
        margin-top: 0;
        margin-bottom: 4px;
        color: red;
        font-weight: bold;
        font-size: x-large;
    }
    .image-text {
        font-size: x-large;
        margin-top: 7px;
        margin-bottom: 5px;
    }
    .image-text-container {
        padding: 10px;
        text-align: start;
    }
    /* nav {
        background-color: black;
        height: 50px;
        display: flex;
        flex-direction: row;
    }
    .nav-subcontainer-home {
        width: 120px;
        background-color: red;
        text-align: start;
    }
    .nav-subcontainer {
        width: 70px;
    }
    .nav-subcontainer:hover {
        background-color: #3d3d3d;
    }
    .nav-item-home {
        text-decoration: none;
        color: #dcdcdc;
        font-size: larger;
    }
    .nav-item {
        height: 100%;
        text-decoration: none;
        color: #dcdcdc;
    }*/
    .sidebar {
        display: none;
    }
    .cathegory-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 1px;
    }
    .cathegory-button {
        background-color: #24282f;
        border: 2px solid black;
        width: 100%;
        height: 40px;
        margin-left: 1%;
        margin-right: 1%;
        font-size: large;
        color: #dcdcdc;
        border-color: red;
        border-radius: 5px;
        margin-top: 5px;
    }
    .hr {
        color: red;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
        ;
    }
    .subtitle {
        color: #dcdcdc;
        margin-bottom: 5px;
    }
}

@media (min-width: 700px) and (max-width: 990px) {
    .flex-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 30px;
    }
    .flex-item {
        margin: 0 auto;
        border: 3px solid red;
        width: 100%;
        border: 0 none;
        border-right: 1px solid red;
    }
    .image {
        width: 100%;
    }
    .price {
        margin-top: 0;
        margin-bottom: 4px;
        color: red;
        font-weight: bold;
        font-size: xx-large;
    }
    .image-text {
        font-size: x-large;
        margin-top: 10px;
        margin-bottom: 2px;
    }
    .image-text-container {
        padding: 10px;
    }
    .no-border-tablet {
        border: 0 none;
    }
    .sidebar {
        display: none;
    }
    .cathegory-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 1px;
    }
    .cathegory-button {
        background-color: #24282f;
        border: 2px solid black;
        width: 100%;
        height: 40px;
        margin-left: 1%;
        margin-right: 1%;
        font-size: large;
        color: #dcdcdc;
        border-color: red;
        border-radius: 5px;
        margin-top: 5px;
    }
    .hr {
        color: red;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
        ;
    }
    .subtitle {
        color: #dcdcdc;
        margin-bottom: 5px;
    }
}

@media (min-width: 990px) {
    .content {
        display: flex;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    .sidebar {
        width: 100%;
    }
    .flex-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 30px;
        width: 100%;
    }
    .flex-item {
        margin: 0 auto;
        border: 3px solid red;
        width: 100%;
        border: 0 none;
        border-right: 1px solid red;
    }
    .image {
        width: 100%;
    }
    .price {
        margin-top: 0;
        margin-bottom: 4px;
        color: red;
        font-weight: bold;
        font-size: x-large;
    }
    .image-text {
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .image-text-container {
        padding: 10px;
    }
    .no-border-monitor {
        border: 0 none;
    }
    .cathegory-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 1px;
    }
    .cathegory-button {
        background-color: #24282f;
        border: 2px solid black;
        width: 100%;
        height: 40px;
        margin-left: 1%;
        margin-right: 1%;
        font-size: large;
        color: #dcdcdc;
        border-color: red;
        border-radius: 5px;
        margin-top: 5px;
    }
    .hr {
        color: red;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .subtitle {
        color: #dcdcdc;
        margin-bottom: 5px;
    }
}

.item-link {
    text-decoration: none;
}