* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #24282f;
}

h1 {
    color: #DCDCDC;
}

p {
    color: #DCDCDC;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    border: 5px solid red;
    width: 300px;
    margin: 5px;
}

.item-link {
    text-decoration: none;
}

.image {
    width: 300px;
}

.image-text {}

.price {
    margin-top: 0;
    margin-bottom: 4px;
    color: red;
    font-size: x-large;
}

.image-text-container {
    padding: 10px;
}