.list-sauce {}

.list-sauce-row {
    border-bottom: 10px solid black;
}

.list-sauce-cell {
    width: 90px;
}

.content {
    border-radius: 10px;
    width: 70%;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
}

body {
    background-image: url(Basilikum_bearb.jpg);
    display: flex;
    justify-content: center;
}

.itemcontainer {
    display: flex;
    justify-content: space-between;
}

.item-left {
    width: 30%;
}

.item-right {
    width: 70%;
}

.img {
    width: 470px;
    height: 360px;
}