.list-sauce {
    font-size: large;
}

.list-sauce-row {
    border-bottom: 10px solid black;
}

.list-sauce-cell {
    width: 90px;
}

.content {
    border-radius: 10px;
    width: 67%;
    background-color: #f7f7f7;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    box-shadow: 0 0 3em black;
}

body {
    background-image: url(Basilikum_bearb.jpg);
    display: flex;
    justify-content: center;
    background-size: 100%;
}

.itemcontainer {
    display: flex;
    justify-content: space-between;
}

.item-left {
    width: 40%;
}

.item-right {
    width: 60%;
    display: flex;
    align-content: center;
}

.img {
    width: 80%;
    height: 90%;
}

.list-rezept {
    padding-left: 17.7px;
    font-size: large;
}